<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="page-title">
        <h4 [style.display]="'inline-block'">Company List</h4>
        <button class="btn  btn-flat btn-sm float-right mr-0" (click)="addCompany()">Add company</button>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-12">


      <div class="card">
        <div class="card-block">

          <div class="table-overflow">
            <table class="table" appDataTable #companyList="appDataTable">
              <thead>
                <tr>
                  <th>Company name</th>
                  <th>Company code</th>
                  <th>GSTIN</th>
                  <th>PAN</th>
                  <th>City</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let it of items">
                  <td>
                    <a href="javascript: void(0);" (click)="updateCompany(it)">{{it.name}}</a>
                  </td>
                  <td>
                    {{it.code}}
                  </td>
                  <td>
                    {{it.gstin}}
                  </td>
                  <td>
                    {{it.pan}}
                  </td>
                  <td>
                    {{it.city}}
                  </td>
                  <td class="py-1">
                    <app-action-dots class="text-center" [action-items]="listActionItems" [item]="it"></app-action-dots>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
