<div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="page-title">
          <h4 [style.display]="'inline-block'">Area List</h4>
          <button class="btn  btn-flat btn-sm float-right mr-0" (click)="addItem()">Add area</button>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
  
  
        <div class="card">
          <div class="card-block">
  
            <div class="table-overflow">
              <table class="table" appDataTable #masterList="appDataTable">
                <thead>
                  <tr>
                    <th>Area</th>
                    <th>City</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let it of items">
                    <td>{{it.name}}</td>
                    <td>{{it.city}}</td>
                    <td class="py-1">
                      <app-action-dots class="text-center" [action-items]="listActionItems" [item]="it"></app-action-dots>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  