<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-heading border bottom">
          <h4 class="card-title">
            {{ item._id > 0 ? "Edit" : "Add New" }} Retailer
          </h4>
          <span
            *ngIf="cancelAllowed"
            class="float-right cursor-pointer"
            (click)="clickedCancel.emit()"
            ><i class="ei-unchecked"></i
          ></span>
        </div>

        <div class="card-block">
          <div class="mt-4">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <form
                  autocomplete="off"
                  (submit)="addItem(countryForm)"
                  #countryForm="ngForm"
                  class="uppercase-form"
                >
                  <div class="row">
                    <div class="col col-md-8">
                      <div class="form-group">
                        <label>Country Name</label>
                        <input
                          type="text"
                          name="countryName"
                          #countryName="ngModel"
                          placeholder="Enter country name"
                          class="form-control"
                          [class.is-invalid]="
                            (formSubmitted || countryName.touched) &&
                            !countryName.valid
                          "
                          [(ngModel)]="item.name"
                          required
                          pattern="[a-zA-Z\s]+"
                        />
                        <div class="invalid-feedback">
                          {{ "Country name is required." }}
                        </div>
                      </div>
                    </div>
                    <div class="w-100 d-md-none"></div>
                    <div class="col">
                      <div class="form-group">
                        <label for="">Country code</label>
                        <input
                          type="text"
                          name="countryCode"
                          #countryCode="ngModel"
                          placeholder="Enter country code"
                          class="form-control"
                          [class.is-invalid]="
                            (formSubmitted || countryCode.touched) &&
                            !countryCode.valid
                          "
                          [(ngModel)]="item.code"
                          required
                          pattern="[a-zA-Z]{2,3}"
                          [inputMaxLength]="3"
                          allowedChars="[a-zA-Z]"
                        />
                        <div class="invalid-feedback">
                          {{
                            countryCode.missing
                              ? "Country name is required."
                              : "3 letter aplpha code required"
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>ISD code</label>
                        <input
                          type="text"
                          name="isdCode"
                          #isdCode="ngModel"
                          placeholder="Enter ISD Code"
                          class="form-control"
                          [class.is-invalid]="
                            (formSubmitted || isdCode.touched) && !isdCode.valid
                          "
                          [(ngModel)]="item.isd"
                          required
                          pattern="[0-9]{2,3}"
                          [inputMaxLength]="3"
                          allowedChars="[0-9]"
                        />
                        <div class="invalid-feedback">
                          {{
                            isdCode.missing
                              ? "Country name is required."
                              : "Invalid ISD code(+DD)"
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Currency</label>
                        <input
                          type="text"
                          name="currency"
                          #currency="ngModel"
                          placeholder="Enter currency"
                          class="form-control"
                          [class.is-invalid]="
                            (formSubmitted || currency.touched) &&
                            !currency.valid
                          "
                          [(ngModel)]="item.currency"
                          required
                          pattern="[a-zA-Z\s]+"
                          allowedChars="[a-zA-Z]"
                        />
                        <div class="invalid-feedback">
                          {{ "Alphabetic characters required" }}
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Currency code</label>
                        <input
                          type="text"
                          name="currencyCode"
                          #currencyCode="ngModel"
                          placeholder="Enter currency code"
                          class="form-control"
                          [class.is-invalid]="
                            (formSubmitted || currencyCode.touched) &&
                            !currencyCode.valid
                          "
                          [(ngModel)]="item.currencyCode"
                          required
                          pattern="[a-zA-Z]{3}"
                          [inputMaxLength]="3"
                          allowedChars="[a-zA-Z]"
                        />
                        <div class="invalid-feedback">
                          {{ "3 letter aplpha code required" }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="alert alert-danger"
                    [style.display]="countryForm.failed?'inherit':'none'"
                  >{{countryForm.failedMessage}}</div>
                  <div class="row">
                    <div class="col">
                      <div class="text-right mrg-top-5">
                        <button type="submit" class="btn btn-primary m-0">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
