<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-heading border bottom">
            <h4 class="card-title">{{item._id>0?'Edit':'Add New'}} Retailer</h4>
            <span *ngIf="cancelAllowed" class="float-right cursor-pointer" (click)="clickedCancel.emit()"><i class="ei-unchecked"></i></span>
          </div>
  
          <div class="card-block">
            <div class="mt-4">
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <form autocomplete="off" (submit)="addCompany(companyForm)" #companyForm="ngForm" class="uppercase-form">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Retailer Name</label>
                          <input type="text" name="retailerName" #retailerName="ngModel" placeholder="Enter Retailer name"
                            class="form-control" [class.is-invalid]="(formSubmitted || retailerName.touched) && !retailerName.valid"
                            [(ngModel)]="item.name" required pattern=".{4,}">
                          <div class="invalid-feedback">
                            {{retailerName.missing?'Retailer name is required.':'Name needs to be atleast 4 characters'}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                    class="alert alert-danger"
                    [style.display]="companyForm.failed?'inherit':'none'"
                  >{{companyForm.failedMessage}}</div>
                    <div class="row">
                      <div class="col">
                        <div class="text-right mrg-top-5">
                          <button type="submit" class="btn btn-primary m-0">Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  