/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}
/* ng-selectize.ng-invalid .selectize-control div.selectize-input {
    border-color: #dc3545 !important;
} */

form.uppercase-form input, textarea {
    text-transform: uppercase;
}
ng-selectize.ng-invalid.is-invalid .selectize-control div.selectize-input {
    border-color: #dc3545 !important;
}
ng-selectize.is-invalid ~ .invalid-feedback {
    display: block;
    margin-top: -1px;
}

.card-title{
    display: inline-block;
}


/* BOOTSTRAP OVERRIDE */

/* .side-nav .side-nav-inner .side-nav-menu li a {
    color: #888da8 !important;
} */
.side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder {
    color: inherit;
}
.side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder{
    color: #888da8 !important;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a .icon-holder {
    color: #888da8;
}
.side-nav .side-nav-inner .side-nav-menu li.active a  .icon-holder{
    color: #FA2F63 !important;
}
.form-control[readonly] {
    background-color: inherit !important;
}

/* DATATABLES OVERRIDE */

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    width: 2.5em;
    height: 2.5em;
}


/*  DEFAULTS */

a, a:hover, a:visited, a:focus {
    color: #922a8e;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}