@font-face {
  font-family: 'javis-admin-icons-c-o';
  src:  url('fonts/javis-admin-icons-c-o.eot?bg7zdd');
  src:  url('fonts/javis-admin-icons-c-o.eot?bg7zdd#iefix') format('embedded-opentype'),
    url('fonts/javis-admin-icons-c-o.ttf?bg7zdd') format('truetype'),
    url('fonts/javis-admin-icons-c-o.woff?bg7zdd') format('woff'),
    url('fonts/javis-admin-icons-c-o.svg?bg7zdd#javis-admin-icons-c-o') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mfont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'javis-admin-icons-c-o' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mf-outlet:before {
  content: "\e900";
}
.mf-company:before {
  content: "\e901";
}
